language: ruby
cache: pip
rvm: 2.3
script:
  ./autocv.rb
before_deploy:
  - rsync -avz static/ build
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - aws s3 rm s3://autocv/ --recursive --region eu-west-1
deploy:
  provider: s3
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: autocv
  skip_cleanup: true
  region: eu-west-1
  acl: public_read
  local_dir: build
